@model Tournament_App.Models.ViewModels.Home.NotificationViewModel

<div class="notification-container">
    <h5
        class="notification-header"
        style="background-color:@Model.HeaderColor"
    >
        @Model.Title
    </h5>
    <p class="notification-content">
        @Model.Text
    </p>
    <p class="notification-time-text">
        @Model.TimeString
    </p>
</div>