@model Tournament_App.Models.ViewModels.Home.NotificationViewModel

<div>
    <h3 style="background-color:@Model.Notification.HeaderColor;color:@Model.Notification.TextColor">@Model.Notification.Title</h3>
    <p>@Model.Notification.Text</p>
    <p>@Model.TimeString</p>
</div>