@model IEnumerable<Team>

<h1>Teams Index</h1>

<p>
    <a asp-controller="Teams" asp-action="Create">Create new team</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Api Alias
            </th>
            <th>
                Functions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>
                    @team.Name
                </td>
                <td>
                    @team.ApiAlias
                </td>
                <td>
                    <a asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id">Edit</a> |
                    <a asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>