<h2>Task</h2>
<ul>
    <li>Finding this page was the task</li>
    <li>
        Here's your IP chunk:
        <pre>119</pre>
    </li>
    <li>
        Here's a flag for your trouble, too:
        <pre>8675309</pre>
    </li>
</ul>
