<h1>You approach a large building with an oddly-symmetrical appearance</h1>

<p>
    You hear the obnoxious-sounding voice of an announcer crackle to life as you walk inside.
</p>

<h2>
    "Hi there!  I'm BOB RACECAR, and this is my partner RACECAR BOB!"
</h2>

<p>
    "We're here to commentate on the spectacle going down before us here today.  
    The entire Palindome is positively buzzing with excitement!
    Squaring off for battle are two incredibly powerful opponents.  The current
    reigning champion TACO CAT is answering a long-standing challenge from a
    new up-and-coming contender UFO TOFU!"
</p>

<p>
    You decide to avoid all the commotion and do some good old-fashioned sneaking
    around.  Your sneaking is briefly interrupted by the shrill shrieking of a
    dog whistle blown at incredible volume behind you by a would-be spectator.
    You give the person a swift karate-chop and "appropriate" the dog whistle
    to protect their future victims' hearing. Written on the dog whistle is the text 
    <code>a42c02c0ff2a4bc2</code>.
</p>

<p>
    "RACECAR, why don't you tell us a bit about today's challenger, UFO TOFU?"
    <br />
    "Sure thing, BOB!  UFO TOFU grew up in Poland, back when WARSAW WAS RAW.  
    Their first love was a whirlwind romance with one certain Lisa Bonet.  
    That didn't last very long becuase LISA BONET ATE NO BASIL, and as any
    connoisseur of tofu can tell you, basil is an important spice!"
    <br />
    "What a fascinating anecdote!"
</p>

<p>
    Ugh.  What a pair of morons.  You continue snooping.  You snoop your way
    into a shop offering strange orbs.  You try to swipe one, and accidentally
    knock it on the floor.  It shatters open to reveal a baby ostritch that
    chirps <code>2243af02af3bf1b2</code> at you.  That was weird.  You quickly
    write that down and flee.  
</p>

<p>
    "BOB, it would seem that today's opening ceremony will be delivered by
    tournament director DR. AWKWARD!  He's already in the center of the ring
    carrying his trademark handbook I LOVE ME, VOL I.  He's about to start
    reading from it.  Let's listen in!"
</p>

<p>
    You see the door labelled DR. AWKWARD and decide that, since he's on-stage,
    a quick burglary wouldn't go amiss.  You're DRAWN ONWARD into the room.  Oh
    no, it's happening to you too!  You have to quickly make your steal and beat
    a hasty retreat!  You see upon a desk a standing photo frame with the label
    "God" on it.  You peel back the photo and see the text <code>bab34d455c21db05</code>
    written on the back. 
</p>

<p>
    "And we're off!  The judge ushers DR. AWKWARD off stage, saying NO SIR AWAY!
    A PAPAYA WAR IS ON!.  The first move is made by TACO CAT, opening with WE PANIC
    IN A PEW!  Mr. Tofu seems to have taken it in stride!  Oh!  UFO TOFU used I,
    MAN, AM REGAL.  A GERMAN AM I!  That's why he wasn't hurt!  He fires back with
    DO GEESE SEE GOD?  His feline opponent was ready for it, though..."
</p>

<p>
    You scramble to search the desk for goodies. Hidden in a desk drawer, you see
    a ruby gemstone!  What a score!  It's in a display case with the text
    <code>d3b39dbfe63afd0d</code> etched on it. You pocket the gemstone, it might
    come in handy later.  
</p>

<p>
    "TACO CAT is setting up his finishing move: A MAN, A PLAN, A CANAL: PANAMA! He's
    very clearly a 'Man with a Plan'!  UFO TOFU is knocked out!  The refree is
    counting them out.  Is this the end?  Will their strict training diet of BIRD
    RIB, LION OIL, and WET STUNT NUT STEW all be wasted?"
</p>

<p>
    It seems as though the match is almost over.  There's a safe with some confusing
    text on it, but it seems as though some of it is scratched out.  What's
    the combination?  The inscription:
</p>

<pre>
GOD,
A RED NUGGET,
A FAT EGG XXXXXXXXXXXX
</pre>

<p>
    The 4 items, when placed in the correct order, combine into a flag.  The correct flag
    is worth 10 points.  There are two red herring combinations worth -2 and -11 points.  
</p>