@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject Tournament_App.Services.IFeatureControl FeatureControl


@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center">
    <a class="d-block m-3" asp-controller="Home" asp-action="Leaderboard">
        <div class="card" style="width: 18rem;">
            <img src="~/img/Leaderboard.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Go to the leaderboard</h5>
            </div>
        </div>
    </a>

    <a class="d-block m-3" asp-controller="Home" asp-action="Instructions">
        <div class="card" style="width: 18rem;">
            <img src="~/img/Instructions.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Read the starting instructions</h5>
            </div>
        </div>
    </a>

    @if (!SignInManager.IsSignedIn(User))
    {
        if (FeatureControl.IsEnabled(Constants.FeatureRegistration))
        {
            <a class="d-block m-3" asp-area="Identity" asp-page="/Account/Register">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Register.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Register to participate</h5>
                    </div>
                </div>
            </a>
        }

        <a class="d-block m-3" asp-area="Identity" asp-page="/Account/Login">
            <div class="card" style="width: 18rem;">
                <img src="~/img/login.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Log in</h5>
                </div>
            </div>
        </a>
    }

</div>
