<section>
    <h2>Welcome, contestants, to the first-ever <strong>PTEC Hackathon!</strong></h2>
    <p>
        You've been divided into four teams.  Work with your team to score points. 
        At the end of the time limit, teams will be ranked according to their cumulative scores.
    </p>
</section>

<section>
    <h2>Objective</h2>
    <ul>
        <li>
            Throughout the competition, you'll be tasked with finding "flags".
        </li>
        <li>
            These flags are worth varying amounts of points.
        </li>
        <li>
            You can submit them here: <a>Flag submission page</a>.
        </li>
        <li>
            A flag will always be a string of text.  These strings will vary in length.
        </li>
        <li>
            When a solved puzzle leads you to a flag, that will be worth points.
        </li>
        <li>
            BEWARE: Do not randomly guess flags.
            <ul>
                <li>
                    There are <strong>red herring flags that are found from incorrect solutions</strong> to puzzles.
                </li>
                <li>
                    These are worth NEGATIVE POINTS.
                </li>
                <li>
                    Here's a test of your comprehension.  Here are two flags.  The second one is worth points, the first one is a red herring. 
                </li>
                <li>
                    Flag 1: <pre>k823bknciwe7w872</pre>
                </li>
                <li>
                    Flag 2: <pre>lslfi8sern</pre>
                </li>
            </ul>
        </li>
        <li>
            Look everywhere for flags!  They may turn up in unexpected spots.  
            <ul>
                <li>
                    It would be a real shame if nobody found the secrets in this website's source code... <span style="color: transparent">FNORD</span>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>The First Task</h2>
    <ul>
        <li>In the room with you is a computer</li>
        <li>It will only allow RDP access from 4 specific IP addresses</li>
        <li>In order to obtain an address, you will need a combination of NSA and SD expertise</li>
        <li>
            For NSA students: inquire with the tournament directors for subnetting instructions
        </li>
        <li>
            For SD students, solve one of the 4 following puzzles for an IP address chunk.  
            <ul>
                <li>
                    <a asp-controller="Puzzles" asp-action="IpChallenge1">Link 1</a>
                </li>
                <li>
                    <a asp-controller="Puzzles" asp-action="IpChallenge2">Link 2</a>
                </li>
                <li>
                    <a asp-controller="Puzzles" asp-action="IpChallenge3">Link 3</a>
                </li>
                <li style="display: none">
                    <a asp-controller="Puzzles" asp-action="IpChallenge4">Link 4</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 5</a>
                </li>
            </ul>
        </li>
    </ul>
</section>