<section>
    <h1>Welcome, contestants, to the <strong>ICT Hackathon!</strong></h1>
</section>

<section>
    <h2>Tl;dr:</h2>
    <p>You've got all day. Score more points than the other teams. </p>
</section>

<section>
    <h2>Objective</h2>
    <ul>
        <li>
            Work with your team to score points. 
            At the end of the time limit, the team with the most points wins.
        </li>
        <li>
            Throughout the competition, you'll be searching for "flags": strings of text worth varying amounts of points.
        </li>
        <li>
            You can submit flags you've found on the tournament leaderboard page. <a asp-controller="Home" asp-action="Leaderboard">Leaderboard</a>
        </li>
        <li>
            Flag strings come in two forms:
            <ul>
                <li>
                    Some puzzles will tell you that a string is a flag. 
                    These strings can look like anything, but they'll usually (but not always) look like hashes. Example: <span style="font-family:monospace">f33d00fee385a7938dd3c30b311cf133bfab7bf58089905938cd5e67840dcfe9</span>
                </li>
                <li>
                    Any string you find that starts with "FLAG" in all-caps, followed by an underscore and some non-whitespace text.  For example:
                    <span style="font-family: monospace">FLAG_this_is_SPARTA</span>
                </li>
            </ul>
        </li>
        <li>
            BEWARE!
            <ul>
                <li>
                    There are <strong>NEGATIVE POINT</strong> flags out there!
                    <ul>
                        <li>
                            Decoy flags are typically found as incorrect solutions to puzzles. These will cost your team for being wrong. 
                        </li>
                        <li>
                            Hint flags give your team a chance to spend some points for a hint to help solve a difficult puzzle. 
                        </li>
                        <li>
                            "<span style="font-family: monospace">FLAG_{TEXT}</span>" flags are always safe (never negative points).
                            These ones are like "treasure chests": gifts hidden in unusual spots to encourage exploration.
                        </li>
                    </ul>
                </li>
                <li>
                    Here's a test of your comprehension.  Of the two example flags above, one is a decoy. 
                </li>
            </ul>
        </li>
        <li>
            Look everywhere for flags!  They may turn up in unexpected spots.  
            <ul>
                <li>
                    It would be a real shame if nobody found the secrets in this website's source code... <span style="color: transparent">FNORD</span>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>The First Task</h2>
    <ul>
        <li>Download your OVPN configuration file.  There should be a link at the top.</li>
        <li>Connecting to OVPN will place you into your own special VPN network (10.64.172.0/25).</li>
        <li>Your copy of the Hackathon network is the neighbouring /25 network.</li>
        <li>
            Find "Thomas Anderson's PC" in the Hackathon network. 
            <ul>
                <li>
                    This PC has 5 registered users.  5 different user names, one password. 
                </li>
            </ul>
        </li>
    </ul>

    <article>
        <h3>
            NSA task
        </h3>
        <p>
            The "one password" that all 5 users share into Thomas Anderson's PC is encrypted:  
            <span style="font-family:monospace;color:red;">022F145304080A730164081A0E161E462D162F2A</span>.
            Unfortunately, Cisco's type 7 password encryption isn't the strongest...
        </p>
    </article>

    <article>
        <h3>
            SD Task
        </h3>
        <p>
            There are 5 users, and you need to find all 5 usernames.  They are hidden on this page.  
        </p>
    </article>

    <article style="display:none;" data-usernames="true">
        <div style="display:none;">
            <!--
                metacortex\MaxDebugging
                metacortex\SarahSoftware
                metacortex\AlexCoder
                metacortex\EmilyDevOps
                metacortex\JakeScripter
            -->
        </div>
    </article>
</section>