<section>
    <h1>Welcome, contestants, to the <strong>PTEC Hackathon!</strong></h1>
</section>

<section>
    <h2>Tl;dr:</h2>
    <p>You've got all day. Score more points than the other teams. </p>
</section>

<section>
    <h2>Objective</h2>
    <ul>
        <li>
            You've been divided into teams.  Work with your team to score points. 
            At the end of the time limit, the team with the most points wins.
        </li>
        <li>
            Throughout the competition, you'll be searching for "flags": strings of text worth varying amounts of points.
        </li>
        <li>
            You can submit flags you've found on the tournament leaderboard page. 
        </li>
        <li>
            Flag strings come in two forms:
            <ul>
                <li>
                    Some puzzles will tell you that a string is a flag. 
                    These strings can look like anything, but they'll usually (but not always) look like hashes. Example: <span style="font-family:monospace">f33d00fee385a7938dd3c30b311cf133bfab7bf58089905938cd5e67840dcfe9</span>
                </li>
                <li>
                    Any string you find that starts with "FLAG" in all-caps, followed by an underscore and some non-whitespace text.  For example:
                    <span style="font-family: monospace">FLAG_this_is_SPARTA</span>
                </li>
            </ul>
        </li>
        <li>
            BEWARE!
            <ul>
                <li>
                    There are <strong>NEGATIVE POINT</strong> flags out there!
                    <ul>
                        <li>
                            Decoy flags are typically found as incorrect solutions to puzzles. These will cost your team for being wrong. 
                        </li>
                        <li>
                            Hint flags give your team a chance to spend some points for a hint to help solve a difficult puzzle. 
                        </li>
                        <li>
                            "<span style="font-family: monospace">FLAG_{TEXT}</span>" flags are always safe (never negative points).
                            These ones are like "treasure chests": gifts hidden in unusual spots to encourage exploration.
                        </li>
                    </ul>
                </li>
                <li>
                    Here's a test of your comprehension.  Of the two example flags above, one is a decoy. 
                </li>
            </ul>
        </li>
        <li>
            Look everywhere for flags!  They may turn up in unexpected spots.  
            <ul>
                <li>
                    It would be a real shame if nobody found the secrets in this website's source code... <span style="color: transparent">FNORD</span>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>The First Task</h2>
    <ul>
        <li>You must RDP into a computer at this IP address:  10.23.6.2</li>
        <li>It will only allow RDP access from 4 specific IP addresses</li>
        <li>In order to obtain one of those addresses, you will need a combination of NSA and SD expertise</li>
    </ul>
    <article>
        <h2>
            NSA task
        </h2>
        <p>
            Starting from 172.16.0.0 /12
            Networks must be created to fit the following criteria:
            <ul>
                <li>
                    Faculty PCs need 952 useable IP addresses
                </li>
                <li>
                    Lab PCs need 42,064 useable IP addresses
                </li>
                <li>
                    Server PCs need 283 useable IP addresses
                </li>
                <li>
                    Guest PCs need 32,767 useable IP addresses
                </li>
                <li>
                    Student PCs need 100,100 usable IP addresses
                </li>
                <li>
                    Your target subnet requires 254 useable IP addresses
                </li>
            </ul>
        </p>
    </article>

    <article>
        <h2>
            SD Task
        </h2>
        <p>
            Solve one of the 4 following puzzles for an IP address chunk.  The 4th one is the easiest!
        </p>
        <ul>
            <li>
                <a asp-controller="Puzzles" asp-action="IpChallenge1">Link 1</a>
            </li>
            <li>
                <a asp-controller="Puzzles" asp-action="IpChallenge2">Link 2</a>
            </li>
            <li>
                <a asp-controller="Puzzles" asp-action="IpChallenge3">Link 3</a>
            </li>
            <li style="display: none">
                <a asp-controller="Puzzles" asp-action="IpChallenge4">Link 4</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 5</a>
            </li>
        </ul>
    </article>
</section>