@using Microsoft.AspNetCore.Identity
@using Tournament_App.Models.ViewModels.Home
@inject SignInManager<ApplicationUser> SignInManager
@model LeaderboardViewModel

<script defer src="~/js/leaderboardHandler.js" asp-append-version="true"></script>

<partial name="_LeaderboardPartial" model="Model.LeaderboardUpdateModel" />

<div class="toast-container position-static bottom-0 end-0 p-3">

</div>