<h1>Coding Problem Instructions/FAQ</h1>

<p>
    Code problems represent a challenge for the Software Developer students on your team. 
    Similar to contemporary websites like <a href="https://www.google.ca/search?q=leetcode" target="_blank">LeetCode</a>
    or <a href="https://www.google.ca/search?q=codeforces" target="_blank">Codeforces</a>,
    the purpose is to offer you a problem that could be solved by a person, and for you to write a program
    that solves the general-case version of the problem.  
</p>

<ul>
    <li>
        What languages can I use to solve the problem?
        <ul>
            <li>
                Currently, only solutions in C# are accepted.  Hopefully, future competitions will permit
                additional options.  
            </li>
        </ul>
    </li>

    <li>
        My code isn't compiling! What gives?
        <ul>
            <li>
                The compiler used on your code submission operates on .NET Core 6, which supports features
                up to C# version 8.  You may have to use older syntax for some of your code.  
            </li>
            <li>
                For example, the line of code <span style="font-family: monospace;color:red;">List&lt;int&gt; myList = [];</span> does not work.  You'll
                have to use the older version <span style="font-family: monospace;color:green;">List&lt;int&gt; myList = new List&lt;int&gt;();</span>
            </li>
        </ul>
    </li>

    <li>
        Can I import 3rd party libraries?
        <ul>
            <li>
                No.  Your code is limited to these namespaces and imports for solutions:
                System, System.Numerics, System.Collections.Generic, and System.Text.
            </li>
        </ul>
    </li>

    <li>
        Is there a penalty for failing?
        <ul>
            <li>
                No.  You may make the attempt as many times as you like. 
            </li>
        </ul>
    </li>

    <li>
        I see that your system tells me what the problems are.  Can I hard-code the solutions?
        <ul>
            <li>
                You can try!  I think you'll find it faster to solve most of them the proper way, though. 
                Some of the test cases get <em>BIG</em> and difficult to solve by hand. 
            </li>
            <li>
                In the future, randomly-generated tests will be included to make this attack untenable. 
            </li>
        </ul>
    </li>

    <li>
        What does &lt;EASY MODE&gt; mean?
        <ul>
            <li>
                This problem comes in multiple difficulties!  If you solve the easy-mode version, make sure
                to read the output closesly.  There will be a link to the harder version.  
            </li>
            <li>
                Yes, you can solve both the easy and hard versions of a problem for points.  The point values
                were assigned on the assumption that you solve easy mode first. 
            </li>
        </ul>
    </li>
</ul>