<h1>Code Problems Index</h1>
<p>
    Sorry, friend!  You won't find the code problems here!
    You'll need to find the correct address for each one!
</p>

<p>
    Kudos for looking here, though.  Here's a point for your trouble:
    <br />
    <pre>FLAG_code_problem_controller_index</pre>
</p>