<h1>Create a new team</h1>
<form method="post" asp-controller="Admin" asp-action="CreateTeam">
    <label>
        Please choose a name for this team
        <input type="text" name="Name" id="Name" placeholder="Uncaring Honey Badgers" />
    </label>
    <input type="submit" value="Submit" />
</form>