<h1>Create a new admin!</h1>

<form method="post">
    <div class="mb-3">
        <label>
            Username:
            <input type="text" name="username" id="username" placeholder="username" />
        </label>
    </div>

    <div class="mb-3">
        <label>
            Password:
            <input type="password" name="password" id="password" />
        </label>
    </div>

    <div class="mb-3">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>