<h1>Welcome to the Admin Index page!</h1>

<ul>
    <li><a asp-controller="Teams" asp-action="Index">Manage Teams</a></li>
    <li><a asp-controller="Answers" asp-action="Index">Manage Answers</a></li>
    <li><a asp-controller="Players" asp-action="Index">Manage Players</a></li>
</ul>

