<h1>Welcome to the Admin Index page!</h1>

<ul>
    Manage:
    <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
    <li><a asp-controller="Answers" asp-action="Index">Answers</a></li>
    <li><a asp-controller="Players" asp-action="Index">Players</a></li>
    <li><a asp-controller="Notifications" asp-action="Index">Notifications</a></li>
    <li><a asp-controller="GameData" asp-action="Index">Game Data</a></li>
    <li><a asp-controller="Feature" asp-action="Index">Features</a></li>
    <li><a asp-controller="Banners" asp-action="Index">Banners</a></li>
</ul>

<ul>
    Wipe data:
    <li><a asp-controller="Admin" asp-action="WipeTeams">Wipe Teams</a></li>
    <li><a asp-controller="Admin" asp-action="WipeScoreboard">Wipe Scoreboard</a></li>
    <li><a asp-controller="Admin" asp-action="WipeAnswers">Wipe Answers</a></li>
    <li><a asp-controller="Admin" asp-action="WipePlayers">Wipe Players</a></li>
    <li><a asp-controller="Admin" asp-action="WipeNotifications">Wipe Notifications</a></li>
    <li><a asp-controller="Admin" asp-action="WipeData">Wipe Data</a></li>
</ul>

